In [1]:
from netCDF4 import Dataset  # dataset allows us to read the netcdf4 files
import bisect
import os
import pandas as pd
import numpy as np
import time
%matplotlib inline
import xarray as xr

In [2]:
da=xr.open_dataset(r'C:\Users\futil\OneDrive\GIZ\Internship\seb_test_ring\rose\maker\AllCoTurb.nc')
da

<xarray.Dataset>
Dimensions:    (ID: 7878, RoseDir: 16, Turb: 4, hgt: 4, normData: 2, turbSdp: 26)
Coordinates:
    lat        (ID) float64 ...
    lon        (ID) float32 ...
  * ID         (ID) int64 0 1 2 3 4 5 6 7 ... 7871 7872 7873 7874 7875 7876 7877
  * hgt        (hgt) int32 50 80 100 150
  * normData   (normData) object 'loc' 'scale'
  * RoseDir    (RoseDir) object 'N' 'NNE' 'NE' 'ENE' ... 'W' 'WNW' 'NW' 'NNW'
  * Turb       (Turb) object 'Turbine 1' 'Turbine 2' 'Turbine 3' 'Turbine 4'
  * turbSdp    (turbSdp) int32 1 2 3 4 5 6 7 8 9 ... 18 19 20 21 22 23 24 25 26
Data variables:
    CF         (ID, hgt, Turb) float64 ...
    Power      (ID, hgt, Turb) float64 ...
    Rose       (ID, hgt, RoseDir) float64 ...
    Norn       (ID, hgt, normData) float32 ...
    TurbPower  (Turb, turbSdp) float64 ...

In [3]:

Names=["N","NNE","NE","ENE","E","ESE","SE","SSE","S","SSW","SW","WSW","W","WNW","NW","NNW"]

HGT=["50","80","100","150"]
NameList=[]
for i in HGT:
    NameDir=list(map(lambda x: x+"-"+i,Names))
    NameList.extend(NameDir)

In [ ]:
da[]

In [26]:
Rose50=da['Rose'].sel(hgt=50)
Rose60=da['Rose'].sel(hgt=80)
Rose100=da['Rose'].sel(hgt=100)
Rose150=da['Rose'].sel(hgt=150)
Rose50

<xarray.DataArray 'Rose' (ID: 7878, RoseDir: 16)>
[126048 values with dtype=float64]
Coordinates:
    lat      (ID) float64 ...
    lon      (ID) float32 ...
  * ID       (ID) int64 0 1 2 3 4 5 6 7 ... 7871 7872 7873 7874 7875 7876 7877
    hgt      int32 50
  * RoseDir  (RoseDir) object 'N' 'NNE' 'NE' 'ENE' 'E' ... 'W' 'WNW' 'NW' 'NNW'

In [53]:
x=np.array(Rose50)  #dictionary.update(zip(NameList, np.transpose(DATA)))
print(np.shape(x))
print(len(x[:,0]))
print(np.array(da['RoseDir']))

(7878, 16)
7878
['N' 'NNE' 'NE' 'ENE' 'E' 'ESE' 'SE' 'SSE' 'S' 'SSW' 'SW' 'WSW' 'W' 'WNW'
 'NW' 'NNW']

In [80]:
da['lat']

<xarray.DataArray 'lat' (ID: 7878)>
array([-20.588409, -20.600754, -20.613068, ..., -23.294479, -23.293709,
       -23.293655])
Coordinates:
    lat      (ID) float64 -20.59 -20.6 -20.61 -20.63 ... -23.29 -23.29 -23.29
    lon      (ID) float32 ...
  * ID       (ID) int64 0 1 2 3 4 5 6 7 ... 7871 7872 7873 7874 7875 7876 7877

In [6]:
n=np.array(da['RoseDir'])

cont=0

dictionary = {'lat': np.array(da['lat']), 'lon': np.array(da['lon']),'ID':np.array(da['ID'])}

# dictionary=dict()
# for i in n:
#     print(cont)
#     print(i)
#     dictionary.update(dict(str(n[cont]) = x[:,cont:cont+1],))
#     cont+=1

RoseData=[]

for i in np.array(da['hgt']):

    for j in np.array(da['RoseDir']):
#         print(i)
    # da['Rose'].sel(hgt=50,RoseDir="N")    
        RoseData.append(np.array(da['Rose'].sel(hgt=i,RoseDir=j)))

# dictionary.update(zip(NameList, np.transpose(DATA)))
dictionary.update(zip(NameList, RoseData))
    
# df = pd.DataFrame(dictionary)
print(np.array(da['RoseDir']))
print(np.shape(RoseData))
# print(RoseData)
# print(dictionary)

['N' 'NNE' 'NE' 'ENE' 'E' 'ESE' 'SE' 'SSE' 'S' 'SSW' 'SW' 'WSW' 'W' 'WNW'
 'NW' 'NNW']
(64, 7878)

In [89]:
dictionary
df = pd.DataFrame(dictionary)
# da['Rose'].sel(hgt=50,RoseDir="N")

SaveTo=open(r"C:\Users\futil\OneDrive\GIZ/Internship/seb_test_ring/rose/maker/Test_Rose001.csv",mode='w')

df.to_csv(SaveTo,index=False)
SaveTo.close()

df

,lat,lon,ID,N-50,NNE-50,NE-50,ENE-50,E-50,ESE-50,SE-50,...,SE-150,SSE-150,S-150,SSW-150,SW-150,WSW-150,W-150,WNW-150,NW-150,NNW-150
0,-20.588409,31.659058,0,6.966,5.654,5.175,7.038,10.278,13.958,14.669,...,16.856,11.368,5.749,3.180,2.482,1.820,1.304,1.297,1.238,2.252
1,-20.600754,31.612762,1,7.175,5.615,5.223,6.997,10.107,14.106,15.152,...,17.277,11.142,5.358,3.029,2.428,1.819,1.408,1.394,1.371,2.302
2,-20.613068,31.566467,2,7.311,5.510,5.194,6.967,10.033,14.432,15.671,...,17.704,10.815,4.980,2.885,2.401,1.826,1.513,1.482,1.521,2.344
3,-20.625374,31.520172,3,7.333,5.348,5.159,6.836,10.017,14.994,16.199,...,18.206,10.420,4.654,2.741,2.368,1.820,1.555,1.589,1.627,2.434
4,-20.631729,31.672241,4,6.812,5.701,5.330,7.236,10.405,13.946,14.457,...,16.719,11.144,5.689,3.250,2.663,1.940,1.370,1.304,1.265,2.128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7873,-23.294479,23.743378,7873,6.894,10.010,14.879,18.215,11.527,6.480,4.988,...,4.533,5.360,4.844,2.565,1.220,0.909,1.186,1.953,3.207,4.618
7874,-23.294296,24.450256,7874,5.634,8.354,13.672,18.509,14.348,8.018,4.795,...,3.872,4.313,4.896,2.998,1.481,1.143,1.272,2.014,3.163,4.818
7875,-23.294479,25.360626,7875,5.285,9.313,16.387,20.414,15.435,7.559,3.757,...,3.632,2.808,2.695,2.602,1.926,1.705,1.723,2.191,3.100,4.189
7876,-23.293709,31.013031,7876,4.638,5.734,6.882,6.176,6.051,9.385,16.298,...,17.591,15.733,4.676,1.945,1.795,2.043,2.613,2.774,2.869,4.065
7877,-23.293655,32.450745,7877,6.158,8.644,7.745,6.292,5.405,6.709,11.377,...,12.108,18.671,12.859,2.500,0.826,0.719,0.828,1.154,2.390,4.010

In [90]:
da

<xarray.Dataset>
Dimensions:    (ID: 7878, RoseDir: 16, Turb: 4, hgt: 4, normData: 2, turbSdp: 26)
Coordinates:
    lat        (ID) float64 -20.59 -20.6 -20.61 -20.63 ... -23.29 -23.29 -23.29
    lon        (ID) float32 31.659058 31.612762 ... 31.013031 32.450745
  * ID         (ID) int64 0 1 2 3 4 5 6 7 ... 7871 7872 7873 7874 7875 7876 7877
  * hgt        (hgt) int32 50 80 100 150
  * normData   (normData) object 'loc' 'scale'
  * RoseDir    (RoseDir) object 'N' 'NNE' 'NE' 'ENE' ... 'W' 'WNW' 'NW' 'NNW'
  * Turb       (Turb) object 'Turbine 1' 'Turbine 2' 'Turbine 3' 'Turbine 4'
  * turbSdp    (turbSdp) int32 1 2 3 4 5 6 7 8 9 ... 18 19 20 21 22 23 24 25 26
Data variables:
    CF         (ID, hgt, Turb) float64 ...
    Power      (ID, hgt, Turb) float64 ...
    Rose       (ID, hgt, RoseDir) float64 ...
    Norn       (ID, hgt, normData) float32 ...
    TurbPower  (Turb, turbSdp) float64 ...

In [91]:
n=np.array(da['RoseDir'])

cont=0

dictionary2 = {'lat': np.array(da['lat']), 'lon': np.array(da['lon']),'ID':np.array(da['ID'])}


CFData=[]

for i in np.array(da['hgt']):

    for j in np.array(da['Turb']):  
        CFData.append(np.array(da['CF'].sel(hgt=i,Turb=j)))
print(np.shape(CFData))
# print(RoseData)

(16, 7878)

In [94]:
da

<xarray.Dataset>
Dimensions:    (ID: 7878, RoseDir: 16, Turb: 4, hgt: 4, normData: 2, turbSdp: 26)
Coordinates:
    lat        (ID) float64 -20.59 -20.6 -20.61 -20.63 ... -23.29 -23.29 -23.29
    lon        (ID) float32 31.659058 31.612762 ... 31.013031 32.450745
  * ID         (ID) int64 0 1 2 3 4 5 6 7 ... 7871 7872 7873 7874 7875 7876 7877
  * hgt        (hgt) int32 50 80 100 150
  * normData   (normData) object 'loc' 'scale'
  * RoseDir    (RoseDir) object 'N' 'NNE' 'NE' 'ENE' ... 'W' 'WNW' 'NW' 'NNW'
  * Turb       (Turb) object 'Turbine 1' 'Turbine 2' 'Turbine 3' 'Turbine 4'
  * turbSdp    (turbSdp) int32 1 2 3 4 5 6 7 8 9 ... 18 19 20 21 22 23 24 25 26
Data variables:
    CF         (ID, hgt, Turb) float64 ...
    Power      (ID, hgt, Turb) float64 ...
    Rose       (ID, hgt, RoseDir) float64 ...
    Norn       (ID, hgt, normData) float32 ...
    TurbPower  (Turb, turbSdp) float64 ...

In [93]:
da['Turb']

<xarray.DataArray 'Turb' (Turb: 4)>
array(['Turbine 1', 'Turbine 2', 'Turbine 3', 'Turbine 4'], dtype=object)
Coordinates:
  * Turb     (Turb) object 'Turbine 1' 'Turbine 2' 'Turbine 3' 'Turbine 4'

In [95]:
da['normData']

<xarray.DataArray 'normData' (normData: 2)>
array(['loc', 'scale'], dtype=object)
Coordinates:
  * normData  (normData) object 'loc' 'scale'

In [97]:
np.array(da['Turb'])

# Turbine 1-Capacity Factor [%]-50,Turbine 1-Wind Power [MWh/year]-50,

array(['Turbine 1', 'Turbine 2', 'Turbine 3', 'Turbine 4'], dtype=object)

In [104]:

HGT=["50","80","100","150"]
NameList2=[]


for i in HGT:
    NameDir=list(map(lambda x: x+"-"+i,np.array(da['Turb'])))
    NameList2.extend(NameDir)
    
print(len(NameList2))
print()
print(list(map(lambda x:'CF-'+x,NameList2)))
print()
print(list(map(lambda x:'WindPower-'+x,NameList2)))

16

['CF-Turbine 1-50', 'CF-Turbine 2-50', 'CF-Turbine 3-50', 'CF-Turbine 4-50', 'CF-Turbine 1-80', 'CF-Turbine 2-80', 'CF-Turbine 3-80', 'CF-Turbine 4-80', 'CF-Turbine 1-100', 'CF-Turbine 2-100', 'CF-Turbine 3-100', 'CF-Turbine 4-100', 'CF-Turbine 1-150', 'CF-Turbine 2-150', 'CF-Turbine 3-150', 'CF-Turbine 4-150']

['WindPower-Turbine 1-50', 'WindPower-Turbine 2-50', 'WindPower-Turbine 3-50', 'WindPower-Turbine 4-50', 'WindPower-Turbine 1-80', 'WindPower-Turbine 2-80', 'WindPower-Turbine 3-80', 'WindPower-Turbine 4-80', 'WindPower-Turbine 1-100', 'WindPower-Turbine 2-100', 'WindPower-Turbine 3-100', 'WindPower-Turbine 4-100', 'WindPower-Turbine 1-150', 'WindPower-Turbine 2-150', 'WindPower-Turbine 3-150', 'WindPower-Turbine 4-150']

In [110]:
HGT=["50","80","100","150"]
NameList3=[]

for i in HGT:
    NameDir=list(map(lambda x: x+"-"+i,np.array(da['normData'])))
    NameList3.extend(NameDir)
    
print(NameList3)


NormData=[]

for i in np.array(da['hgt']):
    for j in np.array(da['normData']):  
        NormData.append(np.array(da['Norn'].sel(hgt=i,normData=j)))
print(np.shape(NormData))

['loc-50', 'scale-50', 'loc-80', 'scale-80', 'loc-100', 'scale-100', 'loc-150', 'scale-150']
(8, 7878)

In [14]:
da=xr.open_mfdataset(r"r'C:\Users\futil\OneDrive\GIZ\Run2\Run01.nc",combine='by_coords')

OSError: no files to open

In [15]:
da=xr.open_dataset(r'C:\Users\\futil\OneDrive\GIZ\Internship\seb_test_ring\\rose\maker\AllCoTurb.nc')

In [13]:
da

<xarray.Dataset>
Dimensions:    (ID: 7878, RoseDir: 16, Turb: 4, hgt: 4, normData: 2, turbSdp: 26)
Coordinates:
    lat        (ID) float64 ...
    lon        (ID) float32 ...
  * ID         (ID) int64 0 1 2 3 4 5 6 7 ... 7871 7872 7873 7874 7875 7876 7877
  * hgt        (hgt) int32 50 80 100 150
  * normData   (normData) object 'loc' 'scale'
  * RoseDir    (RoseDir) object 'N' 'NNE' 'NE' 'ENE' ... 'W' 'WNW' 'NW' 'NNW'
  * Turb       (Turb) object 'Turbine 1' 'Turbine 2' 'Turbine 3' 'Turbine 4'
  * turbSdp    (turbSdp) int32 1 2 3 4 5 6 7 8 9 ... 18 19 20 21 22 23 24 25 26
Data variables:
    CF         (ID, hgt, Turb) float64 ...
    Power      (ID, hgt, Turb) float64 ...
    Rose       (ID, hgt, RoseDir) float64 ...
    Norn       (ID, hgt, normData) float32 ...
    TurbPower  (Turb, turbSdp) float64 ...

In [10]:
da=xr.open_dataset(r'C:\Users\futil\OneDrive\GIZ\Run2\Safrica000_Run10.nc_r16_Run01.nc')